@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  position: relative;
  height: 160vh; // sección grande para scrollear
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.background {
  position: absolute;
  inset: 0;
  height: 160vh;
  width: 100%;

  img {
    object-fit: cover;
  }
}

.content {
  position: relative;
  z-index: 2;
  height: 130vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20vh;
  padding: 0 10vw;
  width: 50%;

  @media only screen and (max-width: 850px) {
    width: 90%;
    gap: 15vh;
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
    gap: 10vh;
  }

  .personalbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1vh 2vh;
    border-radius: 4vh;
    background-color: transparent;
    font-size: 1.7vh;
    border: none;
    cursor: pointer;

    color: white;
    border: 0.2vh solid white;
    transition: background-color 0.2s ease, transform 0.2s ease;
    width: fit-content;
  }

  p {
    margin-bottom: 3vh;
  }

  h2 {
    margin-bottom: 3vh;
    line-height: 100%;
  }
  h3 {
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 2.8vh;
  }
  h4 {
    margin-top: 3vh;
    margin-bottom: 5vh;
    font-size: 2.3vh;
  }

  .itemscontainer {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 6vh;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 2vh;
    padding: 1.5vh 2.5vh;
    border-radius: 5vh;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 0.1vh solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    .icon {
      font-size: 3vh;
      color: white;
      opacity: 0.9;
    }
    p {
      margin: 0;
      font-size: 2.1vh;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.25);
      transform: translateX(5px);
    }
  }
}
