@use "../../../../../styles/variables";
@use "../../../../../styles/typography";


.body {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  
    @media only screen and (max-width: 950px) {
      margin-top: 2vh;
      max-width: 90vw;
    }
  
    a {
      text-decoration: none;
    }
  
    p {
      position: relative;
      margin: 0;
      display: flex;
      padding-right: 30px;
      padding-top: 10px;
      overflow: hidden;
      color:white;
      
      @media only screen and (max-width: 850px) {
        font-size: 3.5vh;
        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-word;
      }
    }
  
    .textContainer {
      position: relative;
      display: inline-block; // Solo ocupa el ancho del texto
    }
  
    .underline {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: white;
      width: 0;
    }
  
    .active .underline {
      background-color: white;
    }
  }