@use "./variables" as *;

.navtitle {
  font-family: $font-book;
  font-size: 7vh ;
  font-weight: 400;
  color: white;
}

.navtext {
  font-family: $font-book;
  font-size: 2vh ;
  font-weight: 300;
  color: white;
}
.navtextblack {
  font-family: $font-book;
  font-size: 2vh ;
  font-weight: 400;
  color: black;
}

.navlink {
  font-family: $font-book;
  font-size: 5vh ;
  font-weight: 300;
  color: black;
}

//secciones de tipos de viajes
.traveltitle {
  font-family: $font-book;
  font-size: 7vh;
  font-weight: 500;
  margin: 0;
}

.travelsubtitle {
  font-family: $font-book;
  font-size: 3vh;
  font-weight: 200;
}

.travelplace{
  font-family: $font-book;
  font-size: 2.5vh;
  font-weight: 400;
  margin: 0;
}

.traveldescriptiontitle{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 200;

}

.traveldescriptionsubtitle{
  font-family: $font-book;
  font-size: 2vh;
  font-weight: 200;
  max-width: 80vh;

}

.traveldescriptionitemtitle{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 400;
  margin-bottom: 0vh;
}
.traveldescriptionitemsubtitle{
  font-family: $font-book;
  font-size: 2.5vh;
  font-weight: 300;
  margin-bottom: 2vh;
}

.traveldescriptionitemtext{
  font-family: $font-book;
  font-size: 2vh;
  font-weight: 300;
  max-width: 80%;
  margin-bottom: 5vh;
}

.traveldescriptionitembullet{
  font-family: $font-book;
  font-size: 2vh;
  font-weight: 300;

}


.text{
  font-family: $font-book;
  font-size: 2vh;
  font-weight: 300;

}

.section1{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 200;
}
.section2{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 400;
}

// .herotitle {
//   font-family: $font-book;
//   font-size: 5vh;
//   font-weight: 400;
//   color:black;
//   margin-top: 10vh;
// }

// .herosubtitle {
//   font-family: $font-book;
//   font-size: 3vh;
//   font-weight: 400;
//   color:black
// }
// .section-title {
//   font-family: $font-title;
//   font-size: 2rem;
//   line-height: 1.2;
// }

// .subtitle {
//   font-family: $font-subtitle;
//   font-size: 1.125rem;
//   opacity: 0.8;
// }

// .body-text {
//   font-family: $font-body;
//   font-size: 1rem;
//   line-height: 1.6;
// }

// .small-text {
//   font-family: $font-small;
//   font-size: 0.875rem;
// }

// .emphasis {
//   font-family: $font-emphasis;
// }
