@use "./variables" as *;

.navtitle {
  font-family: $font-book;
  font-size: 7vh ;
  font-weight: 400;
  color: white;
}

.navtext {
  font-family: $font-book;
  font-size: 2vh ;
  font-weight: 300;
  color: white;
}
.navtextblack {
  font-family: $font-book;
  font-size: 2vh ;
  font-weight: 400;
  color: black;
}

.navlink {
  font-family: $font-book;
  font-size: 5vh ;
  font-weight: 300;
  color: black;
}

//general
.text{
  font-family: $font-book;
  font-size: 1.8vh;
  font-weight: 300;
  color:white

}

.titleh2{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 300;
  color:white
}

.titleh3{
  font-family: $font-book;
  font-size: 2.5vh;
  font-weight: 300;
  color:white
}


.titlefooter{
  font-family: $font-book;
  font-size: 2.1vh;
  font-weight: 600;
  color:black;
  text-transform: uppercase;
  margin-bottom: 2vh;
}
.textfooter{
  font-family: $font-book;
  font-size: 1.8vh;
  font-weight: 300;
  color:black

}




.section1{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 200;
}
.section2{
  font-family: $font-book;
  font-size: 4vh;
  font-weight: 400;
}

// .herotitle {
//   font-family: $font-book;
//   font-size: 5vh;
//   font-weight: 400;
//   color:black;
//   margin-top: 10vh;
// }

// .herosubtitle {
//   font-family: $font-book;
//   font-size: 3vh;
//   font-weight: 400;
//   color:black
// }
// .section-title {
//   font-family: $font-title;
//   font-size: 2rem;
//   line-height: 1.2;
// }

// .subtitle {
//   font-family: $font-subtitle;
//   font-size: 1.125rem;
//   opacity: 0.8;
// }

// .body-text {
//   font-family: $font-body;
//   font-size: 1rem;
//   line-height: 1.6;
// }

// .small-text {
//   font-family: $font-small;
//   font-size: 0.875rem;
// }

// .emphasis {
//   font-family: $font-emphasis;
// }
