@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  display: flex;
  height: 200vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;
  @media only screen and (max-width: 850px) {
    height: 100vh;
  }

  .motionDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }

  .heroimage {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    pointer-events: auto;


    @media only screen and (max-width: 850px) {
      text-align: center;
      margin-top: 0vh;
      width: 97%;
    }
  }

  .container {
    width: 60%;
    max-width: 80vw;

    @media only screen and (max-width: 850px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .header {
    margin-bottom: 6vh;
    display: flex;
    flex-direction: column;
    margin-top: -100vh;
    @media only screen and (max-width: 850px) {
      margin-top: -10vh;
    }
    .titlecontainer {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 0;
        color:black;
        font-weight: 400;
        font-size: 3.2vh;
        text-transform: uppercase;
      }
    }

    h3 {
      color:black;
      font-size: 3vh;
      text-transform: uppercase;
    }

  }
  p{
    color:black;
    margin-bottom: 4vh;
    line-height: 2.5vh;
  }
}
