@use "../../../styles/variables";
@use "../../../styles/typography";
.herosection {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.heroimage {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heroimage img {
  display: block;
}

.overlay {
  position: relative;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none; // opcional
  text-align: center;

  @media only screen and (max-width: 850px) {
    width: 80%;
  }

  .titlecontainer {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0;
      font-size: 5.5vh;
    }

    .titleWide {
      letter-spacing: 0.03vh;
      font-weight: 500;
      color: rgb(220, 219, 219);
      font-size: 6vh;
    }
  }

  h3 {
    margin-top: 3vh;
    margin-bottom: 5vh;
  }
  @media only screen and (max-width: 850px) {
    max-width: 100%;
  }
}

.bottomGrid {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 13vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  z-index: 3;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.gridItem {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  font-size: 2vh;
  cursor: pointer;
  transition: all 0.3s ease;
  border-right: 0.05vh solid white;
  border-top: 0.05vh solid white;
  color: white;

  &:hover {
    background: rgba(255, 255, 255, 0.7);
  }


}

.gridItem:last-child {
  border-right: none;
}
