@use "../../../styles/variables";
@use "../../../styles/typography";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1vh 2vh;
  border-radius: 4vh;
  background-color: transparent;
  font-size: 1.7vh;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  color: white;
  border: 0.2vh solid white;
  transition: background-color 0.2s ease, transform 0.2s ease;

  pointer-events: auto;
  z-index: 999;
  position: relative;

  &:hover {
    transform: translateY(-1px);
    background-color: rgba(255, 255, 255, 0.4);
    color: white;
  }

  &:active {
    transform: translateY(0);
  }

  .text {
    margin-right: 0.8rem;
  }

  .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.3s ease, background-color 0.2s ease;
    color: white;
  }
}
