@use "../../styles/variables";
@use "../../styles/typography";

//Intro

.intro {
  height: 100vh;

  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.introImage {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: relative;
  bottom: 20vh;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none; // opcional
  color: white;

  .titlecontainer {
    display: flex;
    flex-direction: column;

    .titleWide {
      letter-spacing: 0.03vh;
      font-weight: 500;
      color: rgb(220, 219, 219);
      font-size: 5.5vh;
      @media only screen and (max-width: 850px) {
        font-size: 4.5vh;
      }
    }
    h2 {
      margin: 0;
      font-size: 3.5vh;
      margin-bottom: 3vh;
      color: white;
      @media only screen and (max-width: 850px) {
        font-size: 3vh;
      }
    }
  }

  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .right {
    width: 40%;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
  }
}

//Description

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vh 0;
  background-color: #1a1e22;
  color: white;

  .top {
    .titlecontainer {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 0;
        margin-top: 3vh;
        margin-bottom: 3vh;
      }
      .titleWide {
        letter-spacing: 0.03vh;
        font-weight: 500;
        color: rgb(220, 219, 219);
        font-size: 4.5vh;
      }
    }

    h3 {
      margin-top: 3vh;
      max-width: 100vh;
      margin-bottom: 7vh;
    }
    @media only screen and (max-width: 850px) {
      max-width: 100%;
    }
  }
}

.itemscontainer {
  display: flex;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  @media only screen and (max-width: 850px) {
    flex-direction: column;
  }
}

.item {
  width: 33.3333%;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media only screen and (max-width: 850px) {
    width: 100%;
    height: 50vh;
  }

  &:hover .overlayHover {
    opacity: 1;
    pointer-events: auto;
  }

  &:hover .overlayBase {
    opacity: 0;
  }
}

.overlayBase,
.overlayHover {
  position: absolute;
  inset: 0;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 0.4s ease;
}

.overlayBase {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent);
  display: flex;
  align-items: flex-start;
  text-align: left;
  height: 50%;
  align-self: flex-end;
  justify-content: space-between;

  .toptitle {
    .titleWide {
      letter-spacing: 0.03vh;
      font-weight: 500;
      color: rgb(220, 219, 219);
      font-size: 3.5vh;
    }
  }

  @media only screen and (max-width: 850px) {
    height: 80%;
    justify-content: flex-end;
    .titleWide {
      margin-bottom: 1vh;
    }
  }
}

.overlayHover {
  background: rgba(26, 30, 34, 0.85);
  opacity: 0;
  pointer-events: none;
  gap: 2vh;
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
}

.overlayHover ul {
  list-style: none;
  padding-left: 0;
}

.overlayHover li {
  margin-bottom: 3vh;
  position: relative;
  padding-left: 3vh;
  font-size: 2vh;
}

.overlayHover li::before {
  content: "→";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2vh;
  opacity: 0.9;
}

//Section

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 10;
  color: white;
  width: 90%;
  height: auto; // 👈 no 100%
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20vh;

    .titlecontainer {
      display: flex;
      flex-direction: column;
      margin: 0;
    }

    .line {
      width: auto;
      height: 0.3vh;
      margin-bottom: 3vh;
      background-color: white;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    .container {
      background-color: transparent;
      border: 0.2vh solid white;
      border-radius: 10vh;
      padding: 2vh 10vh;
    }
  }
}

.background {
  position: fixed;
  top: -10vh;
  left: 0;
  height: 120vh;
  width: 100%;
  overflow: hidden;
}
.backgroundInner {
  position: relative;
  width: 100%;
  height: 100%;

  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
