.section {
  display: flex;
  background-color: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: none;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;


   
    }

   
}
