@use "../../../styles/variables";
@use "../../../styles/typography";
.herosection {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.heroimage {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heroimage img {
  display: block;
}

.overlay {
  position: relative;
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media only screen and (max-width: 850px) {
    width: 95%;

  }

  .titlecontainer {
    display: flex;
    flex-direction: column;

    margin-top: 40vh;

    h2 {
      margin: 0;
      font-size: 12.5vh;
      line-height: 100%;
   
      @media only screen and (max-width: 850px) {
        font-size: 4.5vh;
      }
    }

    .titleWide {
      letter-spacing: 0.03vh;
      font-weight: 400;
      color: rgb(220, 219, 219);
      font-size: 12.5vh;
      margin: 0;
      font-style: italic;
      margin-bottom: 3vh;
      @media only screen and (max-width: 850px) {
        font-size: 4.5vh;
      }
    }
  }

  h3 {
    // margin-top: 3vh;
    margin-bottom: 3vh;
    max-width: 50%;
    font-size: 2.8vh;
    @media only screen and (max-width: 850px) {
      max-width: 90%;}
      @media only screen and (max-width: 450px) {
        max-width: 100%;

    }
    
  
  }
  
}