@use "../../../styles/variables";
@use "../../../styles/typography";
.herosection {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100vh;
}

.heroimage {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.heroimage img {
  display: block;
}

.overlay {
  position: absolute; // 👈 importante para posicionarlo libre
  right: 0; // 👈 lo pega a la derecha
  top: 0;
  height: 100%;
  width: 40%; // 👈 ocupa 1/3
  display: flex;
  flex-direction: column;
  align-items: flex-start; // 👈 alinea a la izquierda
  justify-content: center;
  text-align: left; // 👈 texto a la izquierda
  padding: 0 4vw;
  pointer-events: none;

  @media only screen and (max-width: 850px) {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0vh 3vh;
  }

  .titlecontainer {
    display: flex;
    flex-direction: column;
    h2 {
      margin: 0;
      font-size: 5.5vh;
      @media only screen and (max-width: 850px) {
        font-size: 4.5vh;
      }
    }

    .titleWide {
      letter-spacing: 0.03vh;
      font-weight: 500;
      color: rgb(220, 219, 219);
      font-size: 6vh;

      @media only screen and (max-width: 850px) {
        font-size: 5vh;
      }
    }
  }

  h3 {
    margin-top: 3vh;
    margin-bottom: 5vh;
  }

  p {
    margin-bottom: 3vh;
  }
  @media only screen and (max-width: 850px) {
    max-width: 100%;
  }
}
