@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  display: flex;
  background-color: none;
  height: 70vh;
  width: 100%;
  justify-content: center;
  background-color: none;

  .container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
    align-items: center;
    justify-content: center;


    .heroimage {
      position: relative;
      height: 70vh;
      width: 100%;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      background-color: #1a1e22;
    }

    .overlay {
      position: relative;
      height: 100%;
      width: 50%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      text-align: center;

      @media only screen and (max-width: 850px) {
        width: 95%;

    
      }

      .titlecontainer {
        display: flex;
        flex-direction: column;

        h2 {
          margin: 0;
        }
        h3 {
          margin-top: 3vh;
        }
      }

      .textcontainer {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        p {
          margin-bottom: 3vh;
        }
      }
    }
  }
}
