@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;

  .motionDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }

  .heroimage {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    pointer-events: auto;
    margin-top: -20vh;

    @media only screen and (max-width: 850px) {
      text-align: center;
      margin-top: 0vh;
    }
  }

  .container {
    width: 80%;
    max-width: 1200px;

    @media only screen and (max-width: 850px) {
      width: 100%;
    }
  }

  .header {
    margin-bottom: 6vh;
  }

  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6vw;
    align-items: center;

    @media only screen and (max-width: 850px) {
      display: flex;
      flex-direction: column;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    @media only screen and (max-width: 850px) {
    }

    p {
      font-size: 2.2vw;
      margin: 0;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      font-weight: 400;
    }

    span {
      display: inline-block;
    }
  }

  .content {
    padding: 3vw;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);

    color: white;

    @media only screen and (max-width: 850px) {
      width: 80vw;
    }

    h2 {
      font-size: 2.5vw;
      margin-bottom: 1vh;
    }

    h3 {
      font-size: 1.1vw;
      opacity: 0.8;
      margin-bottom: 2vh;
    }

    p {
      font-size: 0.95vw;
      line-height: 1.5;
    }
  }

  
}
