@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  overflow: hidden;

  .motionDiv {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }

  .heroimage {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .overlay {
    position: absolute;
    inset: 0;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    pointer-events: auto;
    margin-top: -20vh;

    @media only screen and (max-width: 850px) {
      text-align: center;
      margin-top: 0vh;
    }
  }

  .container {
    width: 80%;
    max-width: 80vw;

    @media only screen and (max-width: 850px) {
      width: 100%;
      max-width: 100%;
    }
  }

  .header {
    margin-bottom: 6vh;
    max-width: 50%;
    display: flex;
    flex-direction: column;

    .titlecontainer {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 0;
      
      }
      .titleWide {
        letter-spacing: 0.03vh;
        font-weight: 500;
        font-size: 4.5vh;

        @media only screen and (max-width: 850px) {
          font-size: 4vh;
        }
      }
    }

    h3 {
      margin-top: 3vh;
    }
    @media only screen and (max-width: 850px) {
      max-width: 100%;
    }
  }

  .columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3vh;
    align-items: center;

    @media only screen and (max-width: 850px) {
      display: flex;
      flex-direction: column;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }


  .item {
    padding: 2vh 4vh 2vh 3vh;
    font-weight: 400;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    &:hover {
      background: rgba(255, 255, 255, 0.08);
      padding-left: 1vw;
    }
  
    &::after {
      content: "→";
      font-size: 3vh;
      opacity: 0;
      transform: translateX(-10px);
      transition: all 0.3s ease;
  
    }
  
    &:hover::after {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .active {
    background: rgba(255, 255, 255, 0.12);
    padding-left: 1vw;
  }

  .content {
    padding: 3vh 3vh;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30vh;

    h2 {
      font-size: 4vh;
      margin-bottom: 1vh;
      font-weight: 500;
    }


    p {
      margin-bottom: 0.7vh;
    }

    .left {
      display: flex;
      margin-right: 3vh;
      flex-direction: column;
      justify-content: center;
      padding-right: 3vh;
      border-right: 0.3vh solid rgba(255, 255, 255, 0.3);
    }

    .right {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
