/* @use "@/styles/fonts";
@use "@/styles/variables";
@use "@/styles/typography"; */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  background: transparent;
  font-family: "FuturaBook", sans-serif;
  // filter: blur(10px);
}

#page-content.blur {
  filter: blur(10px);
  transition: filter 0.3s ease;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}


img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
}