@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;


  @media only screen and (max-width: 850px) {
    height: auto;
  }

  p {
    margin-bottom: 5vh;
  }

  //bottom
  .bottom {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media only screen and (max-width: 850px) {
      flex-direction: column;
    }
  }

  .item {
    width: 33.3333%;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media only screen and (max-width: 850px) {
      width: 100%;
      height: 50vh;
    }
  }

 
    .overlayBase {
      position: absolute;
      inset: 0;
      padding: 2vh;
    
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    
      height: 50%;
      align-self: flex-end;
    
      text-align: left;
      transition: opacity 0.4s ease;
    
      background: linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent);

    h2 {
      margin-bottom: 1vh;
      text-transform: uppercase;
    }

    .subtitleRow {
      display: inline-flex;
      align-items: center;
      gap: 0.5vh;

      padding: 0.8vh 1.5vh;
      border-radius: 2vh;

      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(8px);

      letter-spacing: 0.05vh;
      margin-bottom: 2vh;
      span {
        font-size: 1.4vh;
      }

      .separator {
        opacity: 0.6;
      }
    }

    @media only screen and (max-width: 850px) {
      height: 80%;
      justify-content: flex-end;
    }
  }

  .bulletscontainer {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin: 1vh 0 3vh 0;
  
    div {
      position: relative;
      padding-left: 2.5vh;
    }
  
    div::before {
      content: "→";
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1.6vh;
      opacity: 0.8;
      color:white;
    }
  
    p {
      margin: 0;
      font-size: 1.8vh;
    }
  }
}
