@use "../../../styles/variables";
@use "../../../styles/typography";

.section {
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;

  @media only screen and (max-width: 850px) {
    height: auto
  }

  p {
    margin-bottom: 5vh;
  }

 

  //bottom
  .bottom {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media only screen and (max-width: 850px) {
      flex-direction: column;
    }
  }

  .item {
    width: 33.3333%;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media only screen and (max-width: 850px) {
      width: 100%;
      height: 50vh;
    }


  }

  .overlayBase {
    position: absolute;
    inset: 0;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: opacity 0.4s ease;

  }

  .overlayBase {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent);
    display: flex;
    align-items: flex-start;
    text-align: left;
    height: 60%;
    align-self: flex-end;
    justify-content: space-between;
    .titleWide {
      letter-spacing: 0.03vh;
      font-weight: 500;
      color: rgb(220, 219, 219);
      font-size: 3.5vh;
      margin-bottom: 3vh;
    }

    @media only screen and (max-width: 850px) {
      height: 80%;
      justify-content: flex-end;
      .titleWide {
        margin-bottom: 1vh;
      }
    }
  }

  .bulletscontainer{
    display: flex;
    flex-direction: column;
    height: 20vh;
    margin-bottom: 3vh;
    margin-top: 3vh;
    p{
        margin: 0;
        margin-bottom: 1vh;
    }
  }

  
}
